/* color: #445261; (placeholder image background color)*/
/* FUTURA font family */
@font-face {
    font-family: "Futura";
    src: url("../fonts/Futura/FuturaPRO-Book.otf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Futura";
    src: url("../fonts/Futura/FuturaPRO-Medium.otf");
    font-weight: 500;
    font-style: normal;
}

/* AVENIR font family */
@font-face {
    font-family: "Avenir";
    src: url("../fonts/Avenir/AvenirNextLTPro-Regular.otf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Avenir";
    src: url("../fonts/Avenir/AvenirNextLTPro-It.otf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Avenir";
    src: url("../fonts/Avenir/AvenirNextLTPro-Medium.otf");
    font-weight: 500;
    font-style: normal;
}

html, body {
	background: #fff;
	color: rgba(0, 0, 0, 0.8);
	font-family: 'Futura', sans-serif;
	font-weight: 400;
	font-size: 110%;
	height: 100%;
	padding: 0;
	margin: 0;
}

::selection {
    background: #ee4035;
    color: #eef2f3;
}

::-moz-selection {
    background: #ee4035;
    color: #eef2f3;
    /* color: #445261; (placeholder image background color)*/
}

hr {
	color: #ee4035;
	height: 4px;
    width: 400%;
	border-width: 0;
	background-color: #ee4035;
    margin-left: -0em;
}

.menu {
	float: left;
	background: #242020;
	width: 220px;
	height: 100%;
	position: fixed;
	padding-top: 30px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
    overflow-y: auto;
}

.menu img {
    padding-left: 20px;
}

.menu-list {
	list-style: none;
	padding-left: 20px;
}

.menu h2 {
	font-size: 1.2em;
	font-weight: 400;
	color: #7A7A80;
	margin: 0em 0 1em;
}

.menu a:not(#img), .menu p {
	font-weight: 400;
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	margin: 0em 0 1em;
	display: inline-block;
}

.current-focus {
	color: #ee4035 !important;
}

.menu-trigger {
	position: absolute;
    display: none;
	clip: rect(0,0,0,0);
}

.menu-trigger:checked ~ .content {
	left: 220px;
}

.menu-trigger + label, .content {
	transition: left 0.4s;
}

.content div > .horiNav h2 {
	display: inline;
	margin-right: 1em;
	color: rgb(151, 151, 160);
	user-select: none;
}

.content div > .horiNav > h2 {
	cursor: pointer;
}

.content div > .horiNav > a {
	display: inline;
}

.content div > .horiNav > .active {
	color: rgba(0, 0, 0, 1);
}

body {
	overflow-x: hidden;
    overflow-y: auto;
}

body p {
    margin: 0em;
    font-family: 'Avenir', sans-serif;
}

body a:not(.img) {
    border-bottom: 1px solid transparent;
}

label[for="menu-trigger"] {
	position: fixed;
	float: left;
	top: 0px;
	left: 0px;
	z-index: 2;
	width: 18px;
	height: 18px;
	cursor: pointer;
	overflow: hidden;
	user-select: none;
    -moz-user-select: none;
	background-size: contain;
    padding: 14px;
}

.menu-text {
	color: #7A7A80;
	width: 40px;
	height: 42px;
	margin-left: 22px;
	transition: all 500ms ease;
}

.content {
    overflow-y: auto;
    overflow-x: hidden;
	min-height: 100%;
    height: auto;
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	background-color: #eef2f3;
	background-size: 200%;
	z-index: 1;
    padding-bottom: 0em;
}

.content h2 {
    color: rgba(0, 0, 0, 1);
    font-size: 1.6em;
    letter-spacing: .05em;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.content h4 {
    color: rgba(0, 0, 0, 1);
    margin-top: 0;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.content h4 > a, .content h2 > a {
    color: rgba(0, 0, 0, 1);
}

.content a {
    color: rgba(0, 0, 0, 1);
    font-family: "Avenir", sans-serif;
    text-decoration: none;
}

h4 > a {
    font-family: "Futura", sans-serif;
}

#links > a {
    width: auto;
}

.content a:not(.img):hover {
    text-decoration: none;
    border-bottom: 1px solid black;
}

.emphasized {
    font-family: 'Avenir', sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.9);
}

#text {
    padding: 4em;
	height: 100%;
	background-color: #eef2f3;
    width: calc(100% - 8em);
    max-width: 52em;
}

.row {
    width: 100%;
    margin-bottom: 2em;
    overflow: auto;
}

.row img {
    object-fit: cover;
}

.caption p, .caption a {
    max-width: 32em;
}

.row-left > a, .row > iframe, .row > figure {
    width: 33%;
    float: left;
}

.row > div {
    float: left;
    width: calc(66% - 2em);
}

.row > .horiNav {
	width: 100%;
}

#links > div {
    width: auto;
    margin: 0 2em 1em 0;
}

.row-right > div {
    margin-right: 2em;
    float: left;
}

.row-right > a, .row-right > iframe, .row-right > figure {
    width: 33%;
    float: right;
}

.row-left > div {
    margin-left: 2em;
}

.inset-right {
  width: 33%;
  float: right;
  clear: right;
}

figure {
    margin: 0;
}

@media (max-width: 750px) {
    #text {
        padding-left: 2em;
        padding-right: 2em;
        width: calc(100% - 4em);
    }
    
    .inset-right {
        width: 100%;
        float: none;
    }

    .row > a, .row > iframe, .row > figure {
        width: 100%;
        float: none;
    }

    .row:not(#row1) {
        margin-top: 2em;
    }

    .row > div {
        clear: both;
        width: 100%;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0.5em;
    }

    .row h4 {
        margin-bottom: 0.5em;
    }
}

#row1 {
    overflow: visible;
    margin-top: 0;
}

#backdrop {
    float: right;
    position: absolute;
    overflow: hidden;
    background-color: #242020;
    z-index: 9;
    width: 100%;
    height: 100%;
    left: 60em;
    top: 0;
}

#rightbar {
    padding-right: 4em;
    height: 100%;
    background-color: #eef2f3;
    width: 8em;
}

footer {
	float: none;
	overflow: auto;
	background-color: #111;
    color: rgba(255, 255, 255, 0.5);
	height: 40px;
	line-height: 40px;
	width: 100%;
	position: absolute;
	z-index: 4;
    bottom: 0;
}

footer a {
	margin-top: 4em;
}

footer p {
    margin-left: 4em;
}

#line {
	width: 4px;
	height: 100%;
	float: left;
	position: absolute;
	background-color: #ee4035;
	z-index: 6;
	display: none;
}

iframe {
    border: none;
}

.carousel {
	display: flex;
	width: 200%;
	transition: all 0.2s ease-in-out;
}

.carousel > .pane {
	width: 50%;
}

.menu-box {
	width: 20px;
	height: 20px;
	font-family: "Roboto", Arial;
	background: white;
}

.menu-box section {
	width: 50%;
	height: 50%;
	float: left;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
    -moz-user-select: none;
}

@keyframes materialResponse {
	0% {
		width: 0;
		height: 0;
		margin: 0;
		background: rgba(255,255,255,0.1);
	}
	100% {
		width: 250%;
		height: 250%;
		margin: -125%;
		background: rgba(255,255,255,0.4);
	}
}

.menu-box section:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 999px;
	cursor: pointer;
}

.menu-box section:active:before {
	animation: materialResponse 0.4s ease;
	z-index: 2;
}

.menu-box {
	background: transparent;
	width: 18px;
	height: 14px;
}

.menu-icon {
	width: 18px;
	height: 14px;
	position: relative;
}

.menu-icon span,
.menu-icon {
	transition: all 500ms ease;
}

.hamburger span {
	background-color: #242020;
}

.hamburger .first {
	transform: translateY(0px);
}

.hamburger .second {
	transform: translateY(6px);
}

.hamburger .third{
	transform: translateY(12px);
}

.hamburger span, .arrow span, .line span {
	height: 2px;
	width: 20px;
	/*background-color: #ee4035;*/
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transform: translateY(0px);
}

.arrow span {
	background-color: #ee4035;
}

.arrow .first {
	transform: translateX(0px) translateY(6px) rotate(-45deg) scaleX(1.3);
}

.arrow .second {
	transform: translateY(6px);
	background-color: transparent;
}

.arrow .third {
	transform: translateX(0px) translateY(6px) rotate(45deg) scaleX(1.3);
}

#testCanvas {
    position:absolute;
    width: calc(100% - 128px);
    height: calc(100% - 104px);
}

.code {
	font-family: monospace;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 0.1em;
	border-radius: 3px;
}
