/* FUTURA font family */
@font-face {
    font-family: "Futura";
    src: url("./fonts/Futura/FuturaPRO-Book.otf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Futura";
    src: url("./fonts/Futura/FuturaPRO-Medium.otf");
    font-weight: 500;
    font-style: normal;
}

/* AVENIR font family */
@font-face {
    font-family: "Avenir";
    src: url("./fonts/Avenir/AvenirNextLTPro-Regular.otf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Avenir";
    src: url("./fonts/Avenir/AvenirNextLTPro-It.otf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Avenir";
    src: url("./fonts/Avenir/AvenirNextLTPro-Medium.otf");
    font-weight: 500;
    font-style: normal;
}

html, body {
	font-family: 'Futura', sans-serif;
	font-weight: 400;
}

body {
	margin: 0;
	padding: 0;
	background-color: #eef2f3;
	overflow-x: hidden;
}

p {
    font-family: 'Avenir', sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: black;
}

.code {
	font-family: monospace;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 0.1em;
	border-radius: 3px;
}